
<ion-view view-title="Log In">
  <ion-nav-bar class="bar-stable"></ion-nav-bar>
  <ion-content>
    <div id="bear-logo">
      <img src={{logo}} />
    </div>

    <form name="loginForm" ng-submit='login()'>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model='user.username' placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="password" ng-model='user.password' placeholder="Password">
        </label>
      </div>
      <button id="honey" class="button button-full">
        Submit
      </button>
  </form>
  <button class="button button-full button-light" ng-click="goToSignup()">
    Create an Account
  </button>
  </ion-content>
</ion-view>
