<ion-view view-title="Sign Up">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <form name="signupForm" ng-submit='signup()' novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" name="email" ng-model='user.email' placeholder="Email" required>
        </label>
        <label class="item item-input">
          <input type="text" name="username" ng-model='user.username' placeholder="Username" required>
        </label>
        <label class="item item-input">
          <input type="password" name="password" ng-model='user.password' ng-minlength="5" placeholder="Password" required>
        </label>
        <label class="item item-input">
          <input type="password" name="confirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password" compareTo="user.password" required />
        </label>

      <div align="center" padding>
        <p ng-show="compare()">your passwords don't match</p>
        <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">valid email address is required</p>
        <p ng-show="signupForm.username.$error.required && !signupForm.username.$pristine">username is required</p>
        <p ng-show="signupForm.password.$error.minlength && !signupForm.password.$pristine">password must be at least 5 characters</p>
      </div>
      <button style="background-color: #e3b11a" class="button button-full" ng-disabled="signupForm.$invalid">
        Submit
      </button>
    </form>
  </ion-content>
</ion-view>
