<ion-view view-title="View Account">
  <ion-content>
    <body>
    <h1>Accounts</h1>
    <div class="container">
        <ion-list>
            <ion-item class="text-center">${{total}} saved towards {{goal}}!</ion-item>
            <ion-item>
                <div class="item-button-right">checking account: {{ checkingName }}
                  <button ng-click="openChecking()" class="button" >
                      Change Account
                  </button>
                </div>
            </ion-item>
            <ion-item>
              <div class="item-button-right">savings account: {{ savingsName }}
                <button ng-click="openSavings()" class="button" >
                    Change Account
                </button>
              </div>
            </ion-item>
        </ion-list>
        <button class="button button-full button-energized" ng-click="goToPet()">
   Next
</button>

    </div>
  </body>
  </ion-content>
</ion-view>
