
<ion-view view-title="My Pets">
  <ion-nav-bar class="bar-stable"></ion-nav-bar>
  <ion-content>
    <h1>My Pets Page</h1>
    <div class="list" ng-repeat='pet in pets' on-tap='goToPet(pet)' on-hold='editPet(pet)'>

      <a class="item item-thumbnail-left">
        <img src='./img/berries.png'>
        <div id='pet-text'>
          <h2>{{ pet.name }}</h2>
          <p><strong>Goal:</strong> {{ pet.goal_name }} </p>

        </div>
      </a>

  </div>

  </ion-content>
  <<div class="bar bar-footer bar-energized">
    <button class="button button-full button-clear">
      Adopt a New Pet
    </button>
  </div>
</ion-view>
