<ion-view>
  <ion-pane id="adopt-page">
      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" style="height:55%">
        <ion-slide-page ng-repeat='type in petTypes'>
          <div ng-model='newpet.type' value={{type.name}} class="adopt-showcase">
            <h1>adopt a new {{type.displayType}}!</h1>
            <img src={{type.img}} />


          </div>
        </ion-slide-page>
      </ion-slides>
    <form name="newPet" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Your New Pet's Name:</span>
          <input name="newPet" type="text" ng-minlength="3" ng-model='newpet.name' required>
        </label>
        <label class="item item-input">
          <span class="input-label">What are you saving for?</span>
          <input type="text" ng-minlength="3" ng-model='newpet.goal_name' required>
        </label>
        <label class="item item-input">
          <span class="input-label">Goal Amount :</span> $
            <input name="newPet" type="number" ng-model="newpet.goal_amt" required>
        </label>
    </div>
      <div class="padding">
          <p ng-show="firstPet.name.$error.required">* Username is required</p>
          <p ng-show="myForm.username.$invalid && !myForm.username.$pristine">* Username must be an email address</p>
          <p ng-show="myForm.username.$error.minlength">* Username must be longer than 5 characters</p>
          <p ng-show="myForm.password.$error.required">* Password is required</p>
          <p ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
      </div>
    </form>
    <button ng-disabled="firstPet.$invalid" ng-click='adoptNewPet()' style="background-color: #e3b11a" class="button button-full">
    Adopt this pet!
    </button>

  </ion-pane>
</ion-view>
