<ion-view>
  <ion-pane id="adopt-page">
      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" style="height:55%">
        <ion-slide-page ng-repeat='type in petTypes'>
          <div ng-model='newpet.type' value={{type.name}} class="adopt-showcase">
            <h1>adopt a new {{type.displayType}}!</h1>
            <img src={{type.img}} />


          </div>
        </ion-slide-page>
      </ion-slides>
    <form name="newPet" ng-submit="adoptMe()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Your New Pet's Name:</span>
          <input name="name" type="text" ng-model='newpet.name' required>
        </label>
        <label class="item item-input">
          <span class="input-label">What are you saving for?</span>
          <input name="goalName" type="text" ng-model='newpet.goal_name' required>
        </label>
        <label class="item item-input">
          <span class="input-label">Goal Amount :</span> $
            <input name="goalAmt" type="number" ng-model="newpet.goal_amt" required>
        </label>
    </div>
      <div align="center" padding>
        <p ng-show="newPet.name.$error.required && !newPet.name.$pristine">please name your new pet</p>
        <p ng-show="newPet.goalName.$error.required && !newPet.goalName.$pristine">a name for your goal is required</p>
        <p ng-show="newPet.goalAmt.$error.required && !newPet.goalAmt.$pristine">you must set a goal amount</p>
      </div>

    <button ng-disabled="newPet.$invalid" style="background-color: #e3b11a" class="button button-full">
    Adopt this pet!
    </button>
  </form>
  </ion-pane>
  <div class="bar bar-footer">
    <a id="help" class="button pull-right" ng-click="showHelp()">?</a>
  </div>
</ion-view>
