<ion-view cache-view="false">
  <ion-content>
    <body>
    <h1>accounts</h1>
    <div class="container">
        <ion-list>
            <h2 class="text-center">${{total}} saved!</h2>
            <ion-item>
                <div align="center"> checking account: <br />{{ checkingName }} </div>
                <div align="center">
                  <button ng-click="openChecking()" class="button button-block button-outline button-stable" >
                      edit
                  </button>
                </div>
            </ion-item>
            <ion-item>
              <div align="center"> savings account: <br  />{{ savingsName }} </div>
              <div align="center">
                <button ng-click="openSavings()" class="button button-block button-outline button-stable" >
                    edit
                </button>
              </div>
            </ion-item>
        </ion-list>
        <button id="honey" class="button button-full" ng-click="goToPet()">
           Save
        </button>
    </div>
  </body>
  </ion-content>
  <div class="bar bar-footer">
    <a id="help" class="button pull-right" ng-click="showHelp()">?</a>
  </div>
</ion-view>
