<ion-view>
  <ion-content>
    <h1>crittermart</h1>
    <div class="list" ng-repeat='item in items | filter : filters' ng-click='buyFood()' confirm>
    <a class="item item-thumbnail-left">
      <img src={{images[item.id]}} >
      <div id='food-item-text'>
      <h2>{{ item.name }}</h2>
      <p>
        <div ng-model='grab.cost'><strong>Cost:</strong> {{ item.cost }} </div><br />
        <strong>{{effect[item.type]}} increase:</strong> {{ item.effect }}
      </p>
      </div>
    </a>
</div>
  </div>
  </ion-content>
  <div class="tabs-striped">
    <div class="tabs">
      <a ng-click="filters.type = 'food'" class="tab-item active" href="">
        food
      </a>
      <a ng-click="filters.type = 'accessory'" class="tab-item active" href="">
        accessories
      </a>
      <a ng-click="filters.type = 'treat'" class="tab-item active" href="">
        treats
      </a>
    </div>
  </div>
</ion-view>
