
<ion-view cache-view="false">
  <ion-content>
    <h1>my pets</h1>
    <div class="list" ng-repeat='pet in pets' on-tap='goToPet(pet)' on-hold='editPet(pet)'>

      <a class="item item-thumbnail-left">
        <img ng-src="{{petImages[pet.pet_type_id]}}">
        <div id="pet-text">
          <h2>{{ pet.name }}</h2>
          <h3><strong>{{ pet.goal_progress / pet.goal_amt }}% saved to {{ pet.goal_name }}</strong></h3>
          <p><font color={{fontColor(pet.hunger)}}><strong>Hunger:</strong> {{ pet.hunger }} </font></p>
          <p><font color={{fontColor(pet.happiness)}}><strong>Happiness:</strong> {{pet.happiness}}</font> </p>
        </div>
      </a>

  </div>
  </ion-content>
  <div class="bar bar-footer">
    <a id="help" class="button pull-right" ng-click="showHelp()">?</a>
  </div>
</ion-view>
