/* Empty. Add your own CSS if you like */
.ground {
  z-index: -1;
  background-color: #008000;
  position: relative;
}

#goal {
  margin: auto;
  width: 100px;
  height: 100px;
  position: fixed;
  left: auto;
  right: 10%;
  top: 5%;
}

#healthbar {
  position: fixed;
}
h1 {
  text-align: center;
  color: #ADD8E6;
}

#food-item {
  /*color: 	#FF4500;*/
  font-size: 25px;
  font-weight: bolder;
}

#starter-pet-text {
  opacity: 0.5;

}
