/* Empty. Add your own CSS if you like */
.ground {
  height: 625px;
  z-index: -1;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,3ca840+0,8dd9fc+0,0fb0d8+59,22d883+61,3ca840+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #3ca840 0%, #8dd9fc 0%, #0fb0d8 59%, #22d883 61%, #3ca840 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#3ca840 0%,#8dd9fc 0%,#0fb0d8 59%,#22d883 61%,#3ca840 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#3ca840 0%,#8dd9fc 0%,#0fb0d8 59%,#22d883 61%,#3ca840 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#3ca840',GradientType=0 ); /* IE6-9 */

}

#main-progress {
  /*text-align: inherit;*/
  font-weight: bold;
  /*margin-bottom: 100px;*/
}

.progress-text {
  margin-left: 10%;
}
.progress {
  background: rgba(232, 229, 135, 1);
  width:80%;
  margin:auto;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(232, 229, 135, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(232, 229, 135, 1) 100%);
  border: 2px solid rgba(245, 245, 245, 1);
  border-radius: 25px;
  height: 23px;}

.progress-bar-custom {
  background: rgba(66, 139, 202, 1);
}

.adopt-showcase {
  text-align: center;
  margin: auto;
  padding: 5%;
}

.food-item {
  position: relative;
  top: -95px;
}
.food-div {
  margin-bottom: 0px;
}
#food-item-text {
  text-align: right;
}
/*.food-img {
  position: fixed;
  right: 10%;
  top: 10%;
}*/

#bear-logo {
  margin: auto;
  text-align: center;
}

.food-item {
  position: relative;
  top: -95px;
}
.food-div {
  margin-bottom: 0px;
}
#food-item-text {
  text-align: right;
}
/*.food-img {
  position: fixed;
  right: 10%;
  top: 10%;
}*/

#bear-logo {
  margin: auto;
  text-align: center;
}

/*#goal {
  margin: auto;
  width: 100px;
  height: 100px;
  position: fixed;
  left: auto;
  right: 10%;
  top: 5%;
}*/

/*#healthbar {
  position: fixed;
}*/
h1 {
color: #84C0C6;
padding-bottom: 40px;
/*color: #111;*/
font-family: 'Fabada', sans-serif;
/*font-family: 'Arial black', Arial black;*/
font-size: 40px;
font-weight: bold;
letter-spacing: -2px;
line-height: 1;
text-align: center;
-webkit-font-smoothing: antialiased;
text-rendering: optimizelegibility;
}
h2 {
  font-family: 'Fabada', sans-serif;
}
.button {
  font-family: 'Fabada', sans-serif;
}
#food-title {
  /*color: 	#FF4500;*/
  font-size: 25px;
  font-weight: bolder;
}

#starter-pet-text {
  opacity: 0.5;

}
#pet-text {
  text-align: right;
}
* {
  font-family: 'Fabada'
}
